@font-face {
    font-family: CaviarDreams;
    src: url(CaviarDreams.ttf);
}

html{
    color: black;
    background-color : black;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-family: CaviarDreams;
}   
body{
    margin: 0;
}
#infoContents{
    text-align: center;
    font-weight: normal;
    position: relative;
    height: 0%;
    top: 27%;
}
#info{  
    max-width: 100vw;
    height: 100vh;
}
#myName{
    color: white;
    /* font-size: 46px; */
    font-size: 22px;
}
#about{
    color: white;
    /* font-size: 20px; */
    font-size: 13px;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
}
.fa{
    position: relative;
    font-size: x-large !important;
    color: #258c7b;
    margin-right: 1%;
    font-size: medium !important;
}
.icons{
    margin-right: 2%;
    font-size: medium !important;
}
/* css for tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 10px !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    top: 100%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Media query for desktop */

@media only screen and (min-width: 768px) {
#myName{
    font-size: 46px;
}
#about{
    font-size: 20px;
}
.fa{
    font-size: x-large !important;
}
.tooltip {
    font-size: 15px !important;
}
}